@tailwind base;
@tailwind components;
@tailwind utilities;

/* Config */
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: auto;
  margin-right: auto;
}

/* Utilites */
.img_container4y3 {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}

.img_container4y3_alt {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}

.img_container4y3_alt img,
.img_container4y3 img,
.img_container16y9 img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_container16y9 {
  position: relative;
  padding-top: 56%;
  overflow: hidden;
  display: grid;
}

.page-image-1y1 .img_container16y9 {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.page-image-3y4 .img_container16y9 {
  position: relative;
  padding-top: 133%;
  overflow: hidden;
}

/* Reset css */
h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button:hover{
  background-color: rgb(22, 24, 28);
}

.pages-profile div:hover{
  background-color: rgb(22, 24, 28);
}